html, body {
 font-size: 62.5%;   
}
#title{
text-align:center ;
color: var(--secondary);
}
#title-supplement{
 display: flex;
 justify-content: center;
width: auto;    
background-color: var(--primary);
}

:root{
/*Font size*/
--h1:3.815rem;
--h2: 2.441rem;
--h3: 1.953rem;
--h4: 1.563rem;
--h5: 1.25rem;
/*Colors*/
--black: #000;
--white: #fff;
--grey: #424242;

/*Theme*/
--primary: var(--black);
--secondary: var(--grey);
}

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2);
}
h3{
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
h5{
    font-size: var(--h5);
}

.light-mode{
--primary: var(--white);
--secondary: var(--grey);
}
.dark-mode{
--primary: var(--black);
--secondary: var(--white);
}